<!DOCTYPE html>
<html>
<head>
	<title>Testing</title>
    <script src="vue.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<!--
    <div id="vue-app">
        <h1>{{ greet('Evening') }}</h1>
        <a v-bind:href="website">bitlab</a>
        <h1>{{ name }}</h1>
        <p>Job: {{ job }} </p>
        
        <p v-html="webtag"></p>
    </div>
-->
<!--
    
    <div id="vue-app">
-->
        
<!--        <h1>Events</h1>-->
        <!-- instead of v-on: you use @-->
<!--
        <button v-on:click="age++"> Add a Year</button>
        <button v-on:click="age--">Subtract a Year</button>
-->
        <!--Event modifier once   -->
<!--
        <button v-on:click.once="add(1)"> Add a Year (method) </button>
        <button v-on:click="subtract(1)">Subtract a Year (method) </button>
-->
        
<!--
        <button v-on:dblclick="add(10)"> Add 10 Years (method) </button>
        <button v-on:dblclick="subtract(10)">Subtract 10 Years (method) </button>
        <br>
        <a @click.prevent="click" href="http://www.bufferredky.com.ng">bitlab</a>
        
        <p> My age is {{age}}</p>
        
        <div id="canvas" v-on:mousemove="updateXY">
            {{x}}, {{y}}
        
        </div>
-->
    
<!--    </div>-->
    
<!--
    <div id="vue-app">
        <h1>Keyboard Events</h1>
        <label>Name:</label>
        <input type="text" v-on:keyup.enter="logName">
        <label >Age</label>
        <input type="text" v-on:keyup.alt.enter="logAge">
    </div>
-->
    
<!--
     <div id="vue-app">
        <h1>Keyboard Events</h1>
        <label>Name:</label>
        <input type="text" v-model="name">
         <span> {{ name }} </span>
        <label >Age</label>
        <input type="text"  v-model="age">
         <span> {{ age }} </span>
    </div>
-->
    
<!--
    <div id="vue-app">
        <h1>Computed Properties</h1>
        <button v-on:click="a++">Add to A</button>
        <button v-on:click="b++">Add to B</button>
        
        <p>A - {{a}}</p>
        <p>B - {{b}}</p>
        
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>
    </div>
-->
    
<!--
    <div id="vue-app">
        <h1>Dynaimic CSS</h1>
        <h2>Example 1</h2>
        <div v-on:click="available = !available" v-bind:class="{available:available}">
            <span>Ryu</span>
        </div>
        
        <h2>Example 2</h2>
        <button v-on:click="nearby = !nearby">Toggle Nearby</button>
        <button v-on:click="available = !available">Toggle Available</button>
        <div v-bind:class="compClass">
            <span>Ryu</span>
        </div>
    </div>
-->
<!--
    <h1>Multiple Vue Instances</h1>
    <div id="vue-app-one">
        <h2>{{ title }}</h2>
        <p>{{ greet }}</p>
    </div>
    
    <div id="vue-app-two">
        <h2>{{ title }}</h2>
         <p>{{ greet }}</p>
        <button v-on:click="changeTitle">Change App One Title</button>
    </div>
-->
  
<!--
    <h1>Component</h1>
    <div id="vue-app-one">
        <h2>Vue app One</h2>
        <greeting></greeting>
    </div>
    
    <div id="vue-app-two">
        <h2>Vue app Two</h2>
-->
<!--        <greeting></greeting>-->
<!--        <button v-on:click="changeTitle">Change App One Title</button>-->
<!--    </div>-->
    
    <div id="vue-app">
        <h2>Refs</h2>
        <input type="text" ref="input">
        <button v-on:click="readRefs">Submit</button>
        
        <p>Your Fav Food: {{ output }}</p>
        
        <div ref="test">
            Hello
        </div>
    </div>
    
    
    <script src="appRefs.js"></script>
</body>
</html>